{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<link rel="stylesheet" href="assets/stylesheets/home.css">
<!-- Hero -->
<section class="container">
    <div class="md-grid md-typeset">
        <div class="hero">
            <div class="hero-content">
                <h1> Welcome! </h1>
                    <p>Welcome to the VATPAC ATC Standard Operating Procedures hub. You will find Local Instructions for aerodromes, TCU's and enroute sectors, as well as other information pertinent to providing a high-quality service within the virtual Australian FIR.</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
                    Let's go!
                </a>
                <a href="https://vatpac.org/" title="VATPAC Website" class="md-button">
                    Back to VATPAC website.
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Page links -->

<div class="lowerSection">
    <div class="md-grid md-typeset">
        <div class="feature">
					<h2>Featured Changes</h2>
					
					<div class="cards">

						<div class="card">
							<a href="./events/milkrun/">
								<h3>Milk Run Monday</h3>

								<p>
									Looking to participate in our busiest weekly event? Check out our Milk Run-specific SOPs which provide advice for controllers on all positions.
								</p>
							</a>
						</div>

						<div class="card">
								<a href="./client/towerstrips/">
									<h3>OzStrips Procedures</h3>

									<p>
										With the recent uptake in users of the OzStrips plugin, VATPAC have developed a recommended workflow for the use of the plugin. 
									</p>
								</a>
						</div>
						
						<div class="card">
							<a href="./controller-skills/">
								<h3>Controller Skills</h3>

								<p>
									Want to take a deeper dive and improve your controlling skills? Our training team and SME's have put together some advanced level resources for those interested.
								</p>
							</a>
						</div>
					</div>

				</div>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}
