/* Main Elements */
.md-main {
    flex-grow: 1;
}

.md-main__inner {
    display: flex;
    height: 100%;
}

.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: url("../../assets/hero-image.png"), rgba(0,0,0,0.35);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position-y: center;
}

.img hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero {
    margin: 15px 1.5rem;
    color: var(--md-primary-bg-color);
    justify-content: center;
}

.hero h1 {
    margin-bottom: 1.15rem;
    color: currentColor;
    font-weight: 650;
    text-transform: none;
}

.hero-content {
    padding-bottom: 0.5rem;
    margin: 0 auto;
}

.hero .md-button {
    margin-top: .5rem;
    margin-right: .5rem;
    color: var(--md-primary-bg-color)
}

.hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: var(--md-accent-fg-color);
    border-color: var(--md-primary-bg-color)
}

.hero .md-button:focus,
.hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: #ffffff;
    border-color: var(--md-accent-fg-color)
}

/* Features below hero */

.feature {
    margin-top: 30px;
    font-family: 'Maven Pro';
    font-weight: 300;
    box-sizing: border-box;
}

.feature h2 {
    color: var(--md-primary-fg-color);
    font-weight: 400;
    font-size: 25px;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
    border-bottom: 1px solid #f1f5f9;
}

.feature .cards {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.feature .cards .card {
    margin: 20px 5px 0px;    
}

.feature .card a {
    display: block;
    background: var(--md-card-a);
    color: var(--md-primary-fg-color);
    transition: background-color 0.2s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.feature .card a:hover {
    background-color: var(--md-card-a-hover);
    color: var(--md-primary-fg-color)
}

.feature .card a h3 { margin-top: 8px; }
    

/* Additional Responsive Styling */

@media screen and (max-width:480px) {
    .container {
        padding-top: 1.5rem;
        background: url("../../assets/hero-image.png"), #1d1e26;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: overlay;
        background-position: 35%;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .feature h2 { margin-left: 20px; }

    .feature cards {
        flex: 1;
        min-width: 0;
    }
}

@media screen and (min-width:900px) {
    .md-sidebar--secondary {
        display: none
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        max-width: 20rem;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
        margin-right: 4rem;
        align-items: center;
    }

    .feature h2 {
        margin-left: 10px;
    }
}

@media screen and (min-width:1220px) {
    .md-sidebar--primary {
        display: none
    }

    .feature h2 {
        margin-left: 20px; 
    }
}