/* Navigation Modifications */
.md-header {
  background: #344767;
  color: var(/*--md-primary-fg-color*/ #fff)
}
.md-nav--primary .md-nav__title[for=__drawer] {
    background: var(--md-primary-fg-color);
    overflow: visible;
}
.md-tabs {
  background: #fff;
}

.md-tabs__link {
  color: var(--md-primary-fg-color);
}
.md-top {
  color: #344767;
}
.md-tabs__link--active, .md-tabs__link:focus, .md-tabs__link:hover {
  border-bottom: 1.5px solid #D9DCD6;
  color: var(--md-primary-fg-color);
  height: -webkit-fill-available;
}

/*Announcement Bar*/
.md-banner {
    background-color: var(--md-footer-bg-color--dark);
    color: var(--md-footer-fg-color);
    overflow: auto;
    text-align: center;
}
.md-typeset img, .md-typeset svg {
    height: auto;
    max-width: 100%;
    vertical-align: text-bottom;
}

.md-footer__inner {
  display: none;
}